{% extends 'base.html' %}

{% block title %} Lista {% endblock %}

{% block main %}
    <h1>Listagem de clientes</h1>
    {%if pessoas %}
        <ul class="list-group">
        {% for pessoa in pessoas %}
            <li class="list-group-item"> <a href="{% url 'pessoa_atuzalizar' pessoa.id %}">{{pessoa.nome}}</a>
                 <a href="{% url 'pessoa_deletar' pessoa.id %}" class="trash-item btn btn-danger ">Deletar</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    <a href="{% url 'pessoa_nova' %}" class="btn btn-primary">Nova</a>

{% endblock %}

{% block footer %}

    <footer class="footer mt-auto py-3">
      <div class="container">
        <span class="text-muted">Desenvolvimento web com o Django.</span>
      </div>
    </footer>

{% endblock %}